
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488362075874'); /* IE9*/
  src: url('iconfont.eot?t=1488362075874#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488362075874') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488362075874') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488362075874#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangmu:before { content: "\e62e"; }

.icon-geren:before { content: "\e662"; }

.icon-zhiyejineng:before { content: "\e614"; }

.icon-h5:before { content: "\e680"; }

.icon-js:before { content: "\e65d"; }

.icon-mui:before { content: "\e624"; }

.icon-buju:before { content: "\e63b"; }

.icon-fingerswiperright:before { content: "\e670"; }

.icon-chajian:before { content: "\e685"; }

.icon-Zepto:before { content: "\e6c2"; }

.icon-jiaoyujingli:before { content: "\e611"; }

